/* ************************************** */
/* ************************************** */
/* ************************************** */

/* **********[ container ]********** */
.container {
  max-width: 1190px;
  margin: 0 auto;
  padding-top: 2rem;
}

/* ** larg ** */
@media (max-width: 1200px) {
  .container {
    max-width: 1700px;
  }
}

/* ** medium ** */
@media (max-width: 992px) {
  .container {
    max-width: 970px;
  }
}

/* ** small ** */
@media (max-width: 768px) {
  .container {
    max-width: 750px;
  }
}

/* **********[ Home content ]********** */

.header-shape {
  position: sticky;
  top: 0;
  z-index: 77;
}
.header-shape .shape {
  position: absolute;
  top: 0;
  right: 0;
}
.footer-shape {
  /* width: 100vw; */
position: relative;
}
.footer-shape .shape {
  position: absolute;
  bottom: -6rem;
  /* top: 0; */
  right: 0;
  z-index: -1;
}
.rectangle-shape {
  position: relative;
  bottom: 25rem;
  z-index: -1;
}

.shape-mobile {
  display: none;
}

svg {
  /* padding: 0; */
}
