<div class="home-content">
  <!-- Gird With Angular Material -->
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <div class="title-content">
        <div class="title">
          <h1>طريقك الأسهل لإجتياز الفحص الوطني الموحد</h1>
          <p>أصبح بإمكانك الحصول على اسئلة الامتحان الوطني بكل سهولة من مكان واحد فقط “اطلع - اختبر - احصل على النتيجة
          </p>
          <button type="button">إبدأ الآن</button>
        </div>
      </div>
    </mat-grid-tile>
    <!-- image carousel -->
    <mat-grid-tile>
      <app-image-carousel></app-image-carousel>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="2">
      <div class="specializations-content">
        <h2>الإختصاصات</h2>
        <div class="specializations">
          <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile *ngFor="let item of specialization">
              <div class="specialization">
                <div class="image">
                  <img [src]="item.logo" alt="">
                  <!-- <img src="../../../assets/images/photo_2023-08-24_23-47-04.jpg" alt=""> -->
                </div>
                <img [src]="item.image" alt="">
                <a href="" routerLink="/afterregister">{{item.name}}</a>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </mat-grid-tile>
    <!-- image phone -->
    <mat-grid-tile>
      <div class="image-phone">
        <img src="../../../assets/icons/Rectangle.svg" alt="">
      </div>
    </mat-grid-tile>
    <!-- Download Application -->
    <mat-grid-tile>
      <div>
        <p>يمكنك تنزيل التطبيق و استخدامه اينما كنت متوفر على انظمة الاندرويد و الايفون</p>
        <img src="../../../assets/images/image 1.svg" alt="">
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</div>
<!-- ********************* -->
<!-- <mat-grid-tile>
              <div>
                <img src="../../../assets/icons/dentist.svg" alt="">
                <a href="">طب الأسنان</a>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div>
                <img src="../../../assets/icons/pharmacy.svg" alt="">
                <a href="">الصيدلة</a>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div>
                <img src="../../../assets/icons/nurs.svg" alt="">
                <a href=" ">التمريض</a>
              </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
              <div>
                <img src="../../../assets/icons/It.svg" alt="">
                <a href="" routerLink="/materials">الهندسة المعلوماتية</a>
              </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
              <div>
                <img src="../../../assets/icons/ARCH.svg" alt="">
                <a href="">الهندسة المعمارية</a>
              </div>
            </mat-grid-tile> -->
