<div class="nav-container">
  <app-navigition-bar></app-navigition-bar>
</div>
<!--  -->
<div class="container">
  <div class="back">
    <div class="icon">
      <a href="">
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </div>
    <p>العودة</p>
  </div>
  <div class="task-title">
    <h1>اختبار شبكات </h1>
    <div class="mark">
      <p>50 سؤال</p>
      <p>علامة النجاح 100 </p>
    </div>
    <div class="import-info">
      <h1>تعليمات هامة</h1>
      <ul>
        <li>ابدأ الاختبار سوف ينقلك الى صفحة السؤال</li>
        <li>لتحقق من صحة إجابتك اضغط على اشارة الصح اسفل السؤال سوف تظهر لك الاجابة صحيحة او خاطئة</li>
        <li>إشاؤة الكتاب سوف تظهر لك مرجع السؤال</li>
        <li>كما يمكنك الحصول على النتيجة في اخر الاختبار ........ بالتوفيق</li>
      </ul>
      <button type="button" class="button-task">ابدأ الاختبار</button>
    </div>
  </div>
  <div class="question">
    <p>السؤال الأول</p>
    <label class="question-label"> الخدمة بأفضل جهد في بروتوكول الانترنت IPV4 تعني ان :</label>
    <mat-radio-group class="question-radio-button">
      <!-- <mat-radio-button class="example-radio-button" *ngFor="let specialization of allSpecialization" -->
      <mat-radio-button class="example-radio-button" value="1">بروتوكول الانترنت لا يقدم اليات تحكم بالتدفق او التحكم
        بالاأخطاء </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="2">بروتوكول الانترنت يقدم اليات تحكم بالتدفق و التحكم
        بالأخطاء </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="3">بروتوكول الأنترنت صالح لتطبيقات الوسائط المتعددة
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="4">بروتوكول الانترنت يطبق بشكل موثوق ضمن الشبكة البينية
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="5">بروتوكول الانترنت هو بروتوكول موثوق و أمن لنقل المعطيات
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>