<!-- ******************************* -->
<!-- _______________________ -->
<!-- <h2>Automatic Slideshow</h2>
<p>Change image every 2 seconds:</p>
<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="../../../../../assets/icons/ad-section.svg" style="width:100%">
    <div class="text">Caption Text</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="../../../../../assets/icons/ad-section.svg" style="width:100%">
    <div class="text">Caption Two</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="../../../../../assets/icons/ad-section.svg" style="width:100%">
    <div class="text">Caption Three</div>
  </div>
</div> <br>
<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div> -->
<!-- ****************************** -->
<div class="container">
  <div class="slideshow-container">
    <div class="my-slides animation-slides" *ngFor="let slide of slides; let i = index" [hidden]="activeSlide !== i">
      <img class="image" [src]="slide.url">
      <!-- <div class="text">{{ slide.caption }}</div> -->
    </div>
  </div>
  <br>
  <div style="text-align:center">
    <span class="dot" *ngFor="let slide of slides; let i = index" [class.active]="activeSlide === i"
      (click)="showSlide(i)"></span>
  </div>
</div>
