/* ************************************** */
/* ************************************** */
/* ************************************** */

/* **********[ container ]********** */
.container {
  max-width: 1190px;
  margin: 0 auto;
  /* padding: 0; */
}

/* ** larg ** */
@media (max-width: 1200px) {
  .container {
    max-width: 1700px;
  }
}

/* ** medium ** */
@media (max-width: 992px) {
  .container {
    max-width: 970px;
  }
}

/* ** small ** */
@media (max-width: 768px) {
  .container {
    max-width: 750px;
  }
}

/* **********[ Home content ]********** */

.header-shape {
  position: sticky;
  top: 0;
  z-index: 4;
  /* right: 0; */
}
.header-shape .shape {
  position: absolute;
  top: 0rem;
  right: 0;
  width: 100vw;
  height: 10rem;
  background-color: #dcc4de;
}


.footer-shape .shape {
  position: absolute;
  top: 10;
  right: 0;
  width: 100vw;
  height: 10rem;
  background-color: #b9e5fb;
}
