<!-- ************************************* -->
<!-- ************************************* -->
<!-- ************************************* -->
<!-- Header -Navigation Bar-->
<div class="header-shape">
  <!-- background - shape -->
  <div class="shape">
    <!-- <img src="../../../assets/icons/shapemaker.svg" alt=""> -->
  </div>
  <div class="container">
    <app-navigition-bar></app-navigition-bar>
  </div>
</div>
<!-- *********************************** -->
<main>
  <section class="container">
   <!-- <app-before-register></app-before-register> -->
   <app-after-register></app-after-register>
  </section>
</main>
<footer>
  <div class="footer-shape">
    <!-- background - shape -->
    <div class="shape">
    </div>
    <div class="container">
      <app-footer></app-footer>
    </div>
  </div>
</footer>
