<!-- ************************************* -->
<!-- ************************************* -->
<!-- ************************************* -->
<!-- Loading Spinner -->
<!-- <div class="loading-spinner" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</div> -->
<div class="header">
  <!-- <div class="container"> -->
  <app-navigition-bar></app-navigition-bar>
  <!-- </div> -->
</div>
<!-- </div> -->
<!-- *********************************** -->
<main>
  <section class="container">
    <!-- <router-outlet></router-outlet> -->
    <app-before-register></app-before-register>
    <!-- <app-after-register></app-after-register> -->
  </section>
  <div class="rectangle-shape">
    <svg width="100vw" height="241" viewBox="0 0 1440 241" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="1440" height="241" fill="#464547" fill-opacity="0.05" />
    </svg>
  </div>
</main>
<footer>
  <app-footer></app-footer>
</footer>