.nav-toolbar {
  position:sticky;
  top: 0;
  /* right: 0; */
  padding: 5rem 0;
}

.spacer {
  flex: 1 1 auto;
}

.nav-container {
  display: flex;
}
.nav-toolbar {
  background-color: transparent;
}
