<header class="header-container">
  <mat-toolbar class="nav-toolbar ">
    <nav class="nav-container">
      <!-- Darrebni Logo  -->
      <div class="logo">
        <img src="../../../assets/icons/logo darebni.svg" alt="">
      </div>
      <!-- Navigation - Link -->
      <div class="nav-link">
        <a href="" routerLink="/">الرئيسية</a>
        <a href="" routerLink="/">الاختصاصات</a>
        <a href="" routerLink="/">من نحن</a>
      </div>
    </nav>
    <span class="spacer"></span>
    <!-- Sign up Button -->
    <div class="sign-up-button">
      <button mat-raised-button routerLink="/signup">تسجيل الدخول</button>
    </div>
  </mat-toolbar>
</header>
