<div class="footer-shape">
  <!-- background - shape -->
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" width="100vw" height="227" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M1440 1.52588e-05C1292.67 70.1922 962.5 55.9548 744.804 46.5673C738.397 46.291 732.087 46.0189 725.881 45.7533C666.583 43.2149 610.219 40.4223 556.849 37.7781L556.845 37.7779C299.164 25.0112 111.288 15.7029 0.00012207 55.1541V227L1440 227V1.52588e-05Z"
        fill="#b9e5fb" />
    </svg>
  </div>
  <section class="container">
    <footer class="footer-container">
      <mat-toolbar class="footer-toolbar ">
        <div>
          <!-- Footer -->
          <div class="footer-div">
            <div class="footer-top">
              <p>سياسة الخصوصية</p>
              <p> الشروط و الاستخدام </p>
            </div>
            <div class="footer-bottom">
              <p>جميع الحقوق المحفوظة 2023</p>
              <div class="icon-social">
                <mat-icon class="icon">
                  <img src="../../../assets/icons/ic_facebook.svg" alt="">
                </mat-icon>
                <mat-icon class="icon">
                  <img src="../../../assets/icons/ic_instagram.svg" alt="">
                </mat-icon>
              </div>
            </div>
          </div>
        </div>
        <span class="spacer"></span>
        <!-- Darrebni Logo  -->
        <div class="logo">
          <img src="../../../assets/icons/logo darebni.svg" alt="">
        </div>
      </mat-toolbar>
    </footer>
  </section>
</div>
