<footer class="footer-container">
  <mat-toolbar class="footer-toolbar ">
    <div>
      <!-- Footer -->
      <div class="footer-div">
        <div class="footer-top">
          <p>سياسة الخصوصية</p>
          <p> الشروط و الاستخدام </p>
        </div>
        <div class="footer-bottom">
          <p>جميع الحقوق المحفوظة 2023</p>
          <div class="icon-social">
            <mat-icon>
              <img src="../../../assets/icons/ic_facebook.svg" alt="">
            </mat-icon>
            <mat-icon>
              <img src="../../../assets/icons/ic_instagram.svg" alt="">
            </mat-icon>
          </div>
        </div>
      </div>
    </div>
    <span class="spacer"></span>
    <!-- Darrebni Logo  -->
    <div class="logo">
      <img src="../../../assets/icons/logo darebni.svg" alt="">
    </div>
  </mat-toolbar>
</footer>
