<div class="home-content">
  <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile>
      <app-image-carousel></app-image-carousel>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="button-div">
        <button type="button" class="button-one">الدورات</button>
        <button type="button" class="button-two">بنك الأسئلة</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="categories-content">
        <h2>التصنيفات</h2>
        <div class="categories">
          <div class="categories-one">
            <div class="category-div">
              <button type="button" class="button-category">المترجمات </button>
            </div>
            <div class="category-div">
              <button type="button" class="button-category">داتا بيز</button>
            </div>
            <div class="category-div">
              <button type="button" class="button-category">قواعد المعطيات</button>
            </div>
            <div class="category-div">
              <button type="button" class="button-category">الاوتومات</button>
            </div>
          </div>
          <div class="categories-two">
            <div class="category-div">
              <button type="button" class="button-category">الذكاء الاصطناعي</button>
            </div>
            <div class="category-div">
              <button type="button" class="button-category">الشبكات</button>
            </div>
            <div class="category-div">
              <button type="button" class="button-category">هندسة البرمجيات</button>
            </div>
          </div>
          <div class="categories-three">
            <div class="category-div">
              <button type="button" class="button-category"> امن معلومات</button>
            </div>
            <div class="category-div">
              <button type="button" class="button-category">خوارزميات</button>
            </div>
          </div>
          <!-- <mat-grid-list cols="4" rowHeight="3:1">
            <mat-grid-tile>
              <div class="category-div">
                <button type="button" class="button-category">المترجمات </button>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="category-div">
                <button type="button" class="button-category">داتا بيز</button>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="category-div">
                <button type="button" class="button-category">قواعد المعطيات</button>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="category-div">
                <button type="button" class="button-category">الاوتومات</button>
              </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
              <div class="category-div">
                <button type="button" class="button-category">الذكاء الاصطناعي</button>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="category-div">
                <button type="button" class="button-category">الشبكات</button>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="category-div">
                <button type="button" class="button-category">هندسة البرمجيات</button>
              </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
              <div class="category-div">
                <button type="button" class="button-category"> امن معلومات</button>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="category-div">
                <button type="button" class="button-category">خوارزميات</button>
              </div>
            </mat-grid-tile>
          </mat-grid-list> -->
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
