/* ************************************** */
/* ************************************** */
/* ************************************** */

/* **********[ container ]********** */
.container {
  max-width: 1190px;
  margin: 0 auto;
  padding-top: 2rem;
}

/* ** larg ** */
@media (max-width: 1200px) {
  .container {
    max-width: 1700px;
  }
}

/* ** medium ** */
@media (max-width: 992px) {
  .container {
    max-width: 970px;
  }
}

/* ** small ** */
@media (max-width: 768px) {
  .container {
    max-width: 750px;
  }
}

/* **********[ Home content ]********** */

.header-shape {
  position: sticky;
  top: 0;
  z-index: 77;
}
.header-shape .shape {
  /* position: ; */
  top: 0;
  right: 0;
}

.shape-mobile {
  display: none;
}
